/* style dla html wyłączają reskalowanie przy pasku przewijania strony */

body{
    background-color:rgb(237, 230, 241);
    margin: 0;
}
.inlineBlock{
    display: inline-block;
}
.flex{
    display: flex;
}
.centerHorizontal{
    align-items: center;
}
.centerVertical{
    justify-content: center;
}
.verticalSpaceBetween{
    justify-content: space-between;
}
.verticalToLeft{
    justify-content: flex-start !important;
}
.horizontalToTop{
    align-self: flex-start !important;
}
.wrap{
    flex-wrap: wrap;
}
.font{
    font-family: 'Nunito Sans';
}
.noTextDecor{
    text-decoration: none;
}
.textCenter{
    text-align: center;
}
.fontSize05{
    font-size: 0.5em;
}
.fontSize125{
    font-size: 1.25em;
}
.fontSize150{
    font-size: 1.5em;
}
.fontSize200{
    font-size: 2em;
}
.fontweight500{
    font-weight: 500;
}
.fontweight600{
    font-weight: 600;
}
.paddingZero{
    padding: 0;
}
.padding02{
    padding: 0.2em;
}
.padding05{
    padding: 0.5em;
}
.padding05Bottom{
    padding-bottom: 0.5em;
}
.padding1{
    padding: 1em;
}
.marginZero{
    margin: 0;
}
.margin025{
    margin: 0.25em;
}
.margin05{
    margin: 0.5em;
}
.margin05Bottom{
    margin-bottom: 0.5em;
}
.margin1Bottom{
    margin-bottom: 1em;
}
.margin05TB{
    margin: 0.5em 0;
}
.margin2{
    margin: 2em;
}
.marginRight1{
    margin-right: 1em;
}
.width{
    width: 100%;
}
.width80{
    width: 80%;
}
.width60{
    width: 60%;
}
.width50{
    width:50%;
}
.width8{
    width: 8em;
}
.width3ch{
    width: 3ch;
}
.height2{
    height: 2em;
}
.height25{
    height: 2.5em;
}
.height100{
    height: 100%;
}
.borderBox{
    box-sizing: border-box;
}
.whiteColor{
    color: white;
}
.blackColor{
    color: black;
}
.whiteBackground{
    background-color: white;
}
.darkerBlue{
    background-color: #0c354b;
}
p:hover{
    cursor: default;
}
.cursorPointer:hover{
    cursor: pointer !important;
}
.border1pxDarker{
    border: solid 1px #0c354b;
}
.border1pxLighter{
    border: solid 1px #365b6d;
}
.borderRight1pxDarker{
    border-right: solid 1px #0c354b;
}
.borderLeft1pxDarker{
    border-left: solid 1px #0c354b;
}
.borderRadius10{
    border-radius: 10px;
}

.contentIMG{
    height: 120px;
    width: 120px;
}
.regForm{
    margin: 0.25rem 0.25rem 0.5rem 0.25rem;
    border-radius: 5px;
}

#registerLink{
    font-size: 0.8em;
    margin-bottom: 5px;
}
#username:focus{
    outline: solid 2px #365b6d;
}
#password:focus{
    outline: solid 2px #365b6d;
}

#navbar {
    justify-content:space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-top: -2px;
}
.iconSize {
    max-width: 1.5em;
    max-height: 1.5em;
}
.navbarContentButton{
    padding: 0.5em 0;
    width: 62px;
}
#logReg{
    margin: 0 1em;
}
#logRegPopup{
    max-width: 250px;
    border: solid 3px #365b6d;
    border-radius: 8px;
    position: absolute;
    visibility: hidden;
    z-index: 50;
    padding: 10px;
    top:65px;
}
#noAccTxt{
    font-size:0.75em;
    color:gray;
    margin: 5px 0;
}
.search{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 2em;
    border-radius: 0.35em;
}
#searchBar{ 
    width: 35%;
}
#searchButton{
    padding: 0.3em 0.75em;
    background-color:#365b6d;
    margin-left: -15px;
}
#searchInput{
    border: solid 1px #365b6d;
    padding-right: 20px;
    padding-left: 5px;
}
#filterBox{
    width:170px;
}
.itemBar{
    padding: 0.1em;
    align-content: space-between;
}
.itemBar:hover{
    padding: 0.1em;
    background-image:
        linear-gradient(to bottom, white 0%, white 100%),
        linear-gradient(to bottom, #365b6d 0%, #365b6d 100%);
    background-clip: content-box, padding-box;
    border-color: #365b6d;
}
.itemName{
    font-size: 1.2em;
    padding: 0.6em 0 0 0.75em;
}
.radiusLowerCorners{
    border-radius: 0 0 7px 7px;
}
.itemInfo{
    font-size: 0.85em;
    color: rgb(97, 95, 95);
    padding-left: 0.75em;
}
.itemLevel{
    font-size: 0.65em;
    color: rgb(153, 153, 153);
    padding: 0.1em 0 0.6em 0.75em;
}
#filterList{
    align-self: flex-start;
    width: 150px;
    padding: 0.35em;
}
.filterBar{
    padding: 0 0.25em 0.25em 0.25em;
}
.checkbox{
    height: 15px;
    width: 15px;
    transition: box-shadow .3s;
    appearance: none; -webkit-appearance: none;
    border-radius: 4px !important;
}
.checkbox:checked{
    box-shadow: inset 0 0 0 20px #0c354b;
}
.filterName{
    padding-left: 0.5em;
    margin: -5px;
}
.filterInfo{
    font-size: 1.1em;
    padding: 0.4em 0;
}

#footer{
    border-top: solid 1px #0c354b;
}
#footer>*>*{
    margin:0.5em;
}
.marginNewsletter{
    margin:0.35em;
    width: 350px;
}
#submitNews{
    font-weight: 500;
    color:white;
    border: none;
    background-color: #365b6d;
    padding: 0.3em;
    width: 5em;
    border-radius: 5px;
}
#saveToNews{
    padding: 0.2em 0.4em;
}
#name{
    border: solid 1px white;
    border-radius: 4px;
}
.borderTop{
    border-top: solid 1px #0c354b;
}
.borderBottom{
    border-bottom: solid 1px #0c354b;
}
.wordInput{
    width: 15ch;
}
.showButton{
    background-color: rgb(252, 111, 111);
    border: none;
    border-radius: 6px;
    margin-left: 0.5em;
}
.checkButton{
    border: none;
    border-radius: 6px;
    background-color: rgb(152, 255, 126);
}
.transition1sBackgroundColor{
    transition: background-color 0.5s;
}
.transition1sVisibility{
    transition: opacity 1s;
}
.goodAnswer{
    background-color: rgb(152, 255, 126);
}
.wrongAnswer{
    background-color: white;
}
.hidden{
    opacity: 0;
}
.answerTxtPadding{
    padding-right: 0.25em;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.contentSquare:hover{
    transform: scale(1.05);
    transition: transform .3s;
}

@media only screen and (min-width:1600px) {
    #categoryGrid{
        width: 75%;
        gap: 1.5em;
        margin: 2rem 0;
    }
    .contentSquare{
        align-items: flex-end !important;
        height: 225px;
        width: 350px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform: scale(1);
        transition: transform .4s;
    }
    #exercisesBox{
        width: 80%;
    }
    #logo{
        margin-left: 8em;
        width: 70px;
        height: 70px;
        padding-right: 130px;
    }
    .buttonsBorder{
        border-right: solid 5px #365b6d;
        border-left: solid 5px #365b6d;
        border-bottom: solid 5px #365b6d;
        border-radius: 0 0 30px 30px;
        margin-right: 8em;
    }
    #container{
        width: 80%;
    }
    #exercisesToDo{
        width: 80%;
    }
    html {
        overflow-x: hidden;
        margin-right: calc(-1 * (100vw - 100%));
    }
}
@media only screen and (min-width:1280px) and (max-width:1599px) {
    #categoryGrid{
        width: 80%;
        gap: 0.5em;
        margin: 2em 0;
    }
    .contentSquare{
        align-items: flex-end !important;
        height: 225px;
        width: 300px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform: scale(1);
        transition: transform .4s;
    }
    #exercisesBox{
        width: 75%;
    }
    #logo{
        margin-left: 8em;
        width: 70px;
        height: 70px;
        padding-right: 130px;
    }
    .buttonsBorder{
        border-right: solid 5px #365b6d;
        border-left: solid 5px #365b6d;
        border-bottom: solid 5px #365b6d;
        border-radius: 0 0 30px 30px;
        margin-right: 8em;
    }
    #container{
        width: 80%;
    }
    #exercisesToDo{
        width: 80%;
    }
    html {
        overflow-x: hidden;
        margin-right: calc(-1 * (100vw - 100%));
    }
}
@media only screen and (min-width:750px) and (max-width:1279px) {
    #categoryGrid{
        width: 100%;
        gap: 0.5em;
        margin: 1em 0;
    }
    .contentSquare{
        align-items: flex-end !important;
        height: 225px;
        width: 300px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform: scale(1);
        transition: transform .4s;
    }
    #exercisesBox{
        width: 65%;
    }
    #logo{
        margin-left: 2em;
        width: 70px;
        height: 70px;
        padding-right: 130px;
    }
    .buttonsBorder{
        border-right: solid 5px #365b6d;
        border-left: solid 5px #365b6d;
        border-bottom: solid 5px #365b6d;
        border-radius: 0 0 30px 30px;
        margin: 0 2em 0 0.25em;
    }
    #container{
        width: 90%;
    }
    #exercisesToDo{
        width: 90%;
    }
}
@media only screen and (max-width:749px) {
    #categoryGrid{
        width: 100%;
        gap: 0.5em;
        margin: 0.5em 0;
    }
    .contentSquare{
        align-items: flex-end !important;
        height: 200px;
        width: 300px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform: scale(1);
        transition: transform .4s;
    }
    #exercisesBox{
        width: 60%;
    }
    #logo{
        margin-left: 1em;
        width: 70px;
        height: 70px;
        padding-right: 130px;
    }
    .buttonsBorder{
        border-right: solid 5px #365b6d;
        border-left: solid 5px #365b6d;
        border-bottom: solid 5px #365b6d;
        border-radius: 0 0 30px 30px;
        margin: 0 1em 0 0.25em;

    }
    #container{
        width: 100%;
    }
    #exercisesToDo{
        width: 100%;
    }
}